@import "src/index";

.root {
  flex: 1;
  @media (max-width: $xl) {
    margin-bottom: 25px;
  }
  div {
    @media (max-width: $xl) {
      display: flex;
      justify-content: center;
    }
    .buttons {
      display: flex;
      float: right;
    }
  }
}