@import "src/index";

.section {
  padding: 40px 0 56px;
  background-color: $grey;
  max-width: 1920px;
  margin: auto;
  .category-name {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 32px;
    @media (max-width: $sm) {
      margin-bottom: 15px;
    }
    @media (max-width: $xxl) {
      margin-bottom: 0;
    }
  }
  .cards-group {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $md) {
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: $xl) {
    padding: 20px 0 25px;
  }
  @media (max-width: $sm) {
    padding: 20px 0 28px;
  }

}